 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home
                <span class="sr-only">(current)</span>
            </a>
            <a href="/movies" class="btn btn-info active" role="button" aria-pressed="true">Scrape IMDB</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
        <div class="jumbotron text-center background-image">
            <div class="overlay">
                <div class="caption">
                    <h1 class="display-1 text-secondary">Mongo Scraper</h1>
                    <h2 class="text-secondary">IMDB</h2>
                </div>
            </div>
        </div>
    <div class=row>
 <div class="col-12">
            {{#each movies}}
                <div id="movies" class="card w-90">
                    <div class="card-header text-white bg-info">
                        <a href={{this.link}} target="_blank" class="text-white">
                            <h2>{{this.title}}</h2>
                        </a>
                    </div>
                </div>
            {{/each}}
            
        </div>
        </div>
        </div>